.background-video {
  width: 100vw;
}



.homepage {
  &-container {
    
  }
  &-section {
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    & img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100vw;
      overflow: hidden;
      height: 650px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      padding: 10px 40px;
    }
    &-template {
      &-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 22px;
        & div {
          width: 100%;
          max-height: 470px;
          & img {
            object-fit: cover;
            object-position: center;
            max-width: 100%;
            height: 100%;
          }
        }
      }
      &-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 22px;
        & div {
          width: 100%;
          max-height: 470px;
          & img {
            object-fit: cover;
            object-position: center;
            max-width: 100%;
            height: 100%;
          }
        }
      }
      &-3 {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &-image {
          position: relative;
            width: 100%;
            height: 100%;
            max-width: 65%;
            & div:nth-child(2) {
              top: 55%;
              right: 5%;
            }
            & div:nth-child(3) {
              top: 10%;
              right: 40%;
            }
            & div:nth-child(4) {
              top: 54%;
              right: 38%;
            }
          & img {
            width: 100%;
            height: 100%;
          }
          & svg {
            width: 40px;
            height: 40px;
            padding: 10px;
            stroke: white;
            background-color: #2F3861;
            border-radius: 100rem;
          }
          
        }
        &-tag {
          position: absolute;
          z-index: 10;
          animation: wave 2s infinite; /* Apply the wave animation */
          border-radius: 100rem;
          
        }
        &-content {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 24px 0px 24px 40px;
          & button {
            width: fit-content;
          }
        }
      }
      &-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 6%;
        margin-bottom: 30px;
        transition: max-height 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        & div {
          color: var(--primary-color-2) !important;
        }
        & .description {
          display: flex;
          flex-direction: column;
          gap: 10px;
          
        }
        &-image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10%;
          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        
        & .homepage-section-template-3-content {
          padding-right: 60px;
        }
        
      }
      &-5 {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 30px;
        & .homepage-section-banner {
          width: 100%;
          height: 100%;
          max-height: 450px;
          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            padding-right: 11px;
          }
        }
        &-carousel {
          width: 100%;
          height: 100%; 
          & .slide {
            width: 100%;
            height: 100%;
            padding: 0px 11px;
            & .product {
              height: 100%;
              & .product-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                gap: 10px;
              }
              & .product-image {
                height: 100%;
                & img {
                  object-fit: contain;
                  object-position: center;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          & .slick-dots {
            width: 10px;
            height: 2px;
            background-color: #6F757F;
          }
        }
        &-container {
          display:flex;
          align-items:center;
          justify-content:center;
          flex-direction:column;
          
        }
        &-dropdown {
          margin: 0px;
          display: flex;
          flex-direction: column;
          padding: 0 2px;
          padding-right: 10px;
          max-height: 0;
          overflow: auto;
          transition: max-height 0.5s cubic-bezier(0.25, 1, 0.5, 1), margin 0.5s cubic-bezier(0.25, 1, 0.5, 1) ; 
          position: relative;
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background: var(--primary-color-1); 
          }
          &::-webkit-scrollbar-thumb:hover {
            background: var(--primary-color-1); 
          }
          &.active {
            margin: 30px 0px;
            padding: 0 2px;
            padding-right: 10px;
            max-height: 800px; 
            max-width: 100%; 
            transition: max-height 0.5s cubic-bezier(0.5, 1, 0.25, 1), margin 0.5s cubic-bezier(0.25, 1, 0.5, 1);
            overflow-y: auto;
            &::-webkit-scrollbar {
              width: 6px;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background: var(--primary-color-1); 
            }
            &::-webkit-scrollbar-thumb:hover {
              background: var(--primary-color-1); 
            }
          }
          & .homepage-section-template-1 {
            border-left: solid 2px var(--primary-color-1);
            border-right: solid 2px var(--primary-color-1);
            padding: 0px 10px;
            position: relative;
          }
        }
        &-btn {
          visibility: hidden;
          transition: visibility 0.5s;
          &.active {
            visibility: visible;
            transition: visibility 0.5s;
          }
        }  
        &-reverse {
          display: grid;
          grid-template-columns: 75% 25%;
        }      
      }
      &-6 {
        display: grid;
        grid-template-columns: 60% 40%;
        height: 100%;
        margin-bottom: 10%;
        &-media {
          width: 100%;
          height: 100%;
          z-index: 10;
          & video {
            width: 100%;
            height: 100%;
            max-width: 800px;
            object-fit: cover;
            object-position: center;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }
        }
        & .banner {
          border: solid 2px #1c1d1d;
          height: fit-content;
          width: 105%;
          transform: translate(-5%, 10%);
          z-index: 5;
          padding: 12% 12%;
          display:flex;
          align-items:start;
          justify-content:center;
          flex-direction:column;
          text-align: left;
          gap: 20px;
          margin-bottom: 10%;
          & p {
            text-align: left;
          }
        }
      }
    }
    &-banner {
      position: relative;
      &-2 {
        max-height: 470px;
        background-color: #2F3861;
        color: var(--primary-color-2);
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        padding: 20px 20px;
        gap: 10px;
      }
      &-title {
        font-size: 14.4px;
        font-weight: 700;
        letter-spacing: 4.32px;
        line-height: 20.16px;
        text-align: center;
        text-transform: uppercase;
      }
      &-content {
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 25.2px;
        text-align: center;
      }
      &-text-wrap {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        text-align: center;
        gap: 10px;
        & p {
          text-align: center;
          color: white;
        }
      }
    }
    &-article {
      display:flex;
      align-items:center;
      justify-content:center;
      flex-direction:column;
      gap: 15px;
      margin: 30px 0px;
    }
  }
}

// Customize Slick Dots
::ng-deep .slick-dots {
  bottom: -30px; // Adjust positioning if needed
  li {
    margin: 0 10px; // Adjust spacing between dots if needed

    &.slick-active {
      button {
        background-color: #000; // Active dot color
      }
    }

    button {
      width: 100%;  // Width of the dash
      max-width: 20px;
      height: 2px;  // Height of the dash
      background-color: #ccc; // Default color
      border: none; // Remove default border
      padding: 0; // Remove padding
      margin: auto; // Remove margin
      border-radius: 0; // Remove border radius to make it a rectangle
    }
  }
}

::ng-deep .slick-dots li button:before {
  font-size: 0px;
}


.product {
  &-container {
    height: fit-content;
    cursor: pointer;
    position: relative;
  }
  &-image {
    position: relative;
    width: 100%;
    height: 100%;
    &-default, &-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s ease, visibility 0.2s ease;
      
    }
    &-default {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
    &-hover {
      opacity: 0;
      visibility: hidden;
      z-index: 2;
    }
  }
  &:hover {
    .product-image-default {
      opacity: 0;
      visibility: hidden;
    }
    .product-image-hover {
      opacity: 1;
      visibility: visible;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0px;
  }
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 rgba(47, 56, 97, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(47, 56, 97, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(47, 56, 97, 0);
  }
}


.icon {
  &-favorite {
    position: absolute;
    top: 26px;
    left: 26px;
    display: block;
    font-size: 28px;
    z-index: 10;
    transition: transform 0.3s ease;
    font-variation-settings: 'wght' 200;
    &:hover {
      animation: zoomInOut 0.6s ease-in-out infinite;
    }
    &.favorite {
      font-variation-settings: 'FILL' 1;
    }
  }
}


.hero__image--image_G6A8CC {
  object-position: center center;
}

.medium-up--hide {
  display: none;
}
.small--hide {
  display: block;
}

.carousel {
  background-color: black;
  width: 100%;
  overflow: hidden;
  max-width: 100vw;
  &-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
  }
}

p {
  margin: 0px;
}

.uppercase {
  font-size: 13.77px;
  font-weight: 700;
  letter-spacing: 2.754px;
  line-height: 19.278px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-2);
}

.lowercase {
  font-size: 15.3px;
  letter-spacing: 0.45px;
  line-height: 21.42px;
  padding: 0px 0px 0px 5px;
  color: var(--primary-color-2);
  text-transform: lowercase;
  font-weight: 300;
}

.hero {
  &-image-footer {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      max-height: 200px;
    }
  }
  &-text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 40px;
    &-content {
      font-family: var(--font);
      font-size: 19.8px;
      letter-spacing: 5.94px;
      line-height: 27.72px;
      text-align: right;
      text-transform: uppercase;
      color: black;
    }
    &-title {
      font-family: var(--font);
      font-size: 73px;
      line-height: 73px;
      margin: 0px 0px 15px;
      text-align: right;
      text-transform: uppercase;
      color: black;
      padding: 11px 0px;
    }
    &-sub {
      text-align: center;
      margin: 70px 0px;
    }
  }
  &-video {
    max-width: 100vw;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    & video {
      width: 100%;
      height: 100%;
      
    }
    & div {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &-carousel {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    &-title {
      transform: translateY(30px);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & .slide {
      margin: 22px;
      & .product {
        scale: 1;
        transition: scale 0.2s ease-in-out;
        width: 100%;
        height: 100%;
        &-image {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          padding: 20% 0;
          & img {
            width: 100%;
            max-height: 400px;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
        &:hover {
          scale: 1.1;
          transition: scale 0.2s ease-in-out;
        }
      }
    }
    &-percentage {
      width: 20%;
      margin: 0px auto;
    }
  }
}

::ng-deep mat-progress-bar {
  border-radius: 100rem !important;
}

::ng-deep .custom-progress-bar .mat-progress-bar-fill::before {
  background-color: #6F757F !important;
}
::ng-deep .custom-progress-bar .mat-progress-bar-fill::after {
  background-color: #6F757F !important;
}
::ng-deep .mdc-linear-progress__bar.mdc-linear-progress__primary-bar .mdc-linear-progress__bar-inner {
  border-color: #1c1d1d;
}

@media screen and (max-width: 769px) {
  .medium-up--hide {
    display: block;
  }
  .small--hide {
    display: none;
  }
  .hero {
    &-text {
      &-content {
        font-size: 18.216px;
        letter-spacing: 5.4648px;
        line-height: 25.5024px;
      }
      &-title {
        font-size: 36.5px;
        line-height: 36.5px;
        margin: 0px 0px 15px;
      }
    }
    &-video {
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & video {
        width: 100%;
        height: 100%;
      }
    }
    
  }
  .homepage {
    &-section {
      &-container {
        padding: 0px 17px;
      }
      &-template {
        &-1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        &-2 {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          & .homepage-section-banner-2 {
            height: 370px;
            position: relative;
            grid-column: span 2;
          }
        }
        &-3 {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 30px;
          &-image {
            max-width: 100%;
            & img {
              max-width: 100%;
            }
          }
          &-content {
            padding: 0;
          }
        }
        &-4 {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
        }
        &-5 {
          grid-template-columns: 50% 50%;
        }
      }
      
    }
  }
  ::ng-deep .slick-dots {
    bottom: -30px; // Adjust positioning if needed
    li {
      margin: 0 5px; // Adjust spacing between dots if needed
  
      &.slick-active {
        button {
          background-color: #000; // Active dot color
        }
      }
  
      button {
        width: 100%;  // Width of the dash
        max-width: 10px;
        height: 2px;  // Height of the dash
        background-color: #ccc; // Default color
        border: none; // Remove default border
        padding: 0; // Remove padding
        margin: auto; // Remove margin
        border-radius: 0; // Remove border radius to make it a rectangle
      }
    }
  }
}