
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Front-End-primary: mat.define-palette(mat.$indigo-palette);
$Front-End-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Front-End-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Front-End-theme: mat.define-light-theme((
  color: (
    primary: $Front-End-primary,
    accent: $Front-End-accent,
    warn: $Front-End-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Front-End-theme);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'bootstrap/scss/bootstrap';
:root {
  --font: "Roboto", sans-serif;
  --primary-color-1: #000000;
  --primary-color-2: #FFFFFF;
  --secondary-color-1: #EC2F52;
  --neutral-grey: #B2B2B2;
  --neutral-grey-2: #E8E8E1;
}

body {
  font-family: var(--font);
  color: #1c1d1d;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

i {
  font-style: italic;
}


.button {
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &--primary {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4.2px;
    line-height: 19.88px;
    padding: 11px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.4s;
    text-wrap: nowrap;

    &:hover {
      background-color: #2a2a2a;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -150%; // Start outside the button on the right
      width: 100%; // Adjust as needed for the width of the flash
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      filter: blur(30px);
      transform: skewX(-30deg);
      transition: right 0.5s linear; // Slow down the animation
    }

    &:hover:before {
      right: 150%; // Move the flash to the left outside the button
    }

    &:not(:hover):before {
      right: -150%; // Keep the flash outside the button on the right when not hovered
    }

    &--outliner-1 {
      outline: solid 2px var(--primary-color-1);
      color: var(--primary-color-1);
      background-color: transparent;
      text-wrap: nowrap;
      &:active {
        outline: solid 2px var(--primary-color-1);
      }
      &:focus {
        outline: solid 2px var(--primary-color-1);
      }
      &:hover {
        color: white;
      }
    }

    &--outliner-2 {
      outline: solid 2px var(--primary-color-2);
      color: var(--primary-color-2);
      text-wrap: nowrap;
      background-color: transparent;
      &:active {
        outline: solid 2px var(--primary-color-2);
      }
      &:focus {
        outline: solid 2px var(--primary-color-2);
      }
    }
  }
}


.text {
  font-family: var(--font);
  color: var(--primary-color-1);
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-navigation {
    display: inline-block;
    font-size: 17px;
    letter-spacing: 3.4px;
    line-height: 23.8px;
    text-align: left;
    text-transform: uppercase;
    margin: 0px 15px;
    padding: 7.5px 0px;
    border-bottom: solid 2px transparent;
    &:hover {
      border-bottom: solid 2px  var(--primary-color-1);
    }
  }
  &-title {
    font-size: 30.6px;
    line-height: 30.6px;
    text-transform: uppercase;
    padding: 5px 0px;
  }
  &-heading {
    font-size: 23.4px;
    line-height: 23.4px;
    text-transform: uppercase;
  }
  &-subheading {
    font-size: 18px;
    letter-spacing: 5.4px;
    line-height: 25.2px;
    text-transform: uppercase;
  }
  &-body {
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 25.2px
  }
  &-product {
    &-title {
      font-size: 16px;
      letter-spacing: 3.2px;
      line-height: 20.8px;
      text-transform: uppercase;
      text-align: center
    }
    &-price {
      font-size: 15.3px;
      letter-spacing: 0.45px;
      line-height: 19.89px;
      text-align: center
    }
  }
}

ul, li {
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.white {
  color: var(--primary-color-2) !important;
}

.offcanvas.offcanvas-end {
  border-left: none
}

@import "reset.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
